.env-labo {
    .bg-dark {
        background-color: #233342;
    }
    .bg-light {
        background-color: #F6F6F6;
    }
    .bg-orange {
        background-color: #FFAF23;
    }

    .bg-gradient-green {
        background: linear-gradient(135deg, #17FF95 0%, #62FFB7 100%);
    }

    .bg-gradient-blue {
        background: linear-gradient(135deg, #00417E 0%, #1C51BC 100%);
    }
}